* {
<<<<<<< HEAD
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

#fade {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.map {
  width: 100%;
  height: 100%;
  background-color: blue;
}

#map_frame {
  width: 100%;
  height: 100%;
}

body, html {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.div1 {
  position: absolute;
  width: 100%;
  float: top;
  background-color: yellow;
}

.div2 {
  position: absolute;
  width: 20%;
  float: left;
  background-color: brown;
}

.div3 {
  z-index: 30;
  position: absolute;
  left: 80%;
  width: 20%;
  height: 50%;
  border-top-style: inherit;
  float: inline-start;
  background-color: gray;
}

.div3 .menu-div3 li a {
  padding: 100%;
  color: burlywood;
  border-radius: 50%;
}

.js-is-hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .div3 {
    background-color: olive;
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */
=======
    box-sizing: border-box;
    margin: 0;
  }
.map{
    width: 100%;
    height: 100%;
    background-color: blue;
}
#map_frame{
    width: 100%;
    height: 100%;
}
body,html{
    margin: 0;
    overflow: hidden;
    height: 100%;
}
.div1{
    position: absolute;
    width: 100%;
  float: top;
  background-color: yellow;
}
.div2{
    position: absolute;
    width: 20%;
    float: left;
    background-color: brown;
}
.div3{
    position: absolute;
    left: 80%;
    width: 20%;
    float: right;
    background-color: blueviolet;
}

@media screen and (max-width:600px){
    .div3{
        background-color: olive;
    }
    
}
>>>>>>> main
