* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
  }
  #fade {transition: opacity 1s;}
.map{
    width: 100%;
    height: 100%;
    background-color: blue;
}
#map_frame{
    width: 100%;
    height: 100%;
}
body,html{
    margin: 0;
    overflow: hidden;
    height: 100%;
}
.div1{
    position: absolute;
    width: 100%;
  float: top;
  background-color: yellow;
}
.div2{
    position: absolute;
    width: 20%;
    float: left;
    background-color: brown;
}
.div3{
    z-index: 30;
    position: absolute;
    left: 80%;
    width: 20%;
    height: 50%;
    border-top-style: inherit;
    float: inline-start;
    background-color: gray;
   
   .menu-div3{
       li{
    a{
        padding: 100%;
        color: burlywood;
        border-radius: 50%;
    }
        }
    }
}

.js-is-hidden{
    display:none;
}
ul{
    list-style-type: none;
    padding-left: 10px;
    margin:0;

}

@media screen and (max-width:400px){
    .div3{
        background-color: black;
        display:none;
    }
    
}